*.iml
*.gradle
*/.gradle
*.idea
*/.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
app/src/main/res/font/
app/src/main/res/values-v21/
